body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: #a14305;
}
.container {
  padding: 50px;
  background-color: #a14305;
  border: 1px solid #f1f1f1;
  width: 60%;
  border-radius: 15px;
  margin: auto;
  display: grid;
  margin-top:5rem;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  background-color: #f1322f;
  outline: none;
  border-style: solid;
}
div {
  padding: 10px 0;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.login-btn,
.register-btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 10px;
  display: grid;
}

.login-btn:hover,
.register-btn:hover {
  opacity: 1;
  border-style: solid;
}

input[type="date"] {
  width: 25%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

input[type="color"] {
  width: 50%;
  height: 3rem;
}

.first-line {
  text-align: center;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

.has-account {
  text-align: center;
  padding-top: 3rem;
}
